version: '3.7'
services:
  jenkinsweb:
    deploy:
      resources:
        limits:
          memory: 1536M
        reservations:
          memory: 1024M
    build: 
      context: .
    image: jenkins/desafiodevops:p1
    privileged: yes
    # hostname: jenkins.pulse
    container_name: jenkins-cicd
    restart: always
    user: root
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/jenkins_volumes/jenkins-maven_home:/var/jenkins_home
      # - /var/run/docker.sock:/var/run/docker.sock
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/jenkins_volumes/resolv/resolv.conf:/etc/resolv.conf:ro
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/sshkey/:$HOME/.ssh/
      # - /etc/hosts:/etc/hosts:ro
    environment:
      TZ: "America/Fortaleza"
      # JENKINS_HOST_HOME: "/data/jenkins"
    ports:
      - "9080:8080"
      - "50000:50000"
    networks:
      jenkins-net:
        ipv4_address: 10.230.11.4
      common-net:
        ipv4_address: 10.230.10.4
    dns: 
      - "10.230.10.14"
      - "10.230.10.13"
    dns_search: pulse.site
networks:
  jenkins-net:
    external: true
  common-net:
    external: true