version: '3.7'
services:
  registry-local:
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    image: registry:2
    # hostname: registry.pulse
    container_name: registry-cicd
    restart: always
    environment:
      TZ: America/Fortaleza
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/registry_volumes/registryvol:/var/lib/registry
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/registry_volumes/resolv/resolv.conf:/etc/resolv.conf:ro
      # - /etc/hosts:/etc/hosts:ro
    ports:
      - "5001:5000"
    networks:
      common-net:
        ipv4_address: 10.230.10.6
networks:
  common-net:
    external: true