version: "3.7"
services:
  gitlab-web:
    deploy:
      resources:
        limits:
          memory: 6144M
        reservations:
          memory: 2048M
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    # hostname: gitlab.pulse
    container_name: gitlab-cicd
    environment:
      TZ: America/Fortaleza
    ports:
      # - '80:80'
      - '9081:80'
      - '1443:443'
      - '2222:22'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/gitlab_volumes/gitlab_config:/etc/gitlab/
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/gitlab_volumes/gitlab_logs:/var/log/gitlab/
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/gitlab_volumes/gitlab_data:/var/opt/gitlab/
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/gitlab_volumes/resolv/resolv.conf:/etc/resolv.conf:ro
      # - /etc/hosts:/etc/hosts:ro
    networks:
      common-net:
        ipv4_address: 10.230.10.5
networks:
  common-net:
    external: true