version: '3.7'
services:
  balanceador:
    deploy:
      resources:
        limits:
          memory: 1000M
        reservations:
          memory: 256M
    build: .
    image: balanceadorlocal
    # image: haproxy:1.6
    hostname: haproxy-cicd
    container_name: haproxy-cicd
    restart: always
    environment:
      TZ: America/Fortaleza
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/haproxy_cfg/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - /home/dombarbosa/workspace/docker_volumes_backup/desafio-devops/haproxy_cfg/resolv/resolv.conf:/etc/resolv.conf:ro
      # - /etc/hosts:/etc/hosts:ro
    ports:
      - "5085:5000"
      - "5081:81"
      - "5080:80"
    networks:
      common-net:
        ipv4_address: 10.230.10.2
networks:
  common-net:
    external: true