global
    
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen Statistics
    bind *:81
    mode http
    option httpclose
    stats enable
    stats auth admin:admin
    stats show-legends
    stats hide-version
    stats show-desc Cluster Desafio
    stats uri /stats
    stats refresh 5s

frontend  main 
    bind *:80

    use_backend jenkins if { hdr_beg(host)  -i jenkins.pulse }
    use_backend gitlab if { hdr_beg(host)  -i gitlab.pulse }
    use_backend sonar if { hdr_beg(host)  -i sonar.pulse }

backend jenkins
    server ws01 10.0.2.9:9080 check

backend gitlab
    server ws01 10.0.2.9:9081 check

backend sonar
    server ws01 10.0.2.9:9082 check